:host /deep/ nav .nav-wrapper {
    background-color: #e7e7e7;
    font-size: 13px !important;
    height: 40px !important;
    margin-top: -13px !important;
    color: #72809b !important;
}

:host /deep/ nav ul a {
    color: #727272 !important;
}

:host /deep/ div.card {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px !important;
	font-size: 12px !important;
}

:host /deep/ nav {
    height: 40px;
    line-height: 40px;
}

.header-menu-item-selected {
    text-decoration: underline;
    font-weight: bold;
}
:host /deep/ .select-wrapper input.select-dropdown {
  font-size: 12px !important;
}