<mz-navbar-item-container style="margin-top: -15px;">
  <mz-navbar>
      <mz-navbar-item-container [align]="'left'">
          <mz-navbar-item><a class="subnav" (click)="siteLog()" style="font-size:12px;">Site Locking</a></mz-navbar-item>
          <mz-navbar-item><a class="subnav" (click)="forecastLock()" style="font-size:12px;">Lock/Unlock Forecast</a></mz-navbar-item>
          <mz-navbar-item><a class="subnav" (click)="itemTranfer()" style="font-size:12px;">Item Transfer</a></mz-navbar-item>
          <mz-navbar-item><a class="subnav" (click)="userManagement()" style="font-size:12px;">User Management</a></mz-navbar-item>
          <mz-navbar-item><a class="subnav" (click)="signalCode()" [ngClass]="'header-menu-item-selected'" style="font-size:12px;">Signal Code</a></mz-navbar-item>
      </mz-navbar-item-container>
  </mz-navbar>
</mz-navbar-item-container>

<app-customer-list></app-customer-list>
