:host /deep/ li.sidenav-header {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  /*background-color: #0d71bb !important;*/
}

:host /deep/ hr {
  margin: 0px;
}
:host /deep/ .side-nav.fixed {
  margin-top: 40px !important;
  width: 100px !important;
  text-decoration: none !important;
}

:host /deep/ .side-nav.fixed a:hover{
  text-decoration: none !important;


}

:host /deep/ .side-nav.fixed:hover{
  margin-top: 40px !important;
  width: 250px !important;
}
:host /deep/ .mdi-24px.mdi-set, .mdi-24px.mdi:before{
  margin-left: -40px !important;

}
