:host /deep/ .disclaimer-headers {
  line-height: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  align: justify ;
  font-family: Arial, serif;
  font-weight: bold;
}

:host /deep/ .card-title {
  text-align: center !important;
  font-weight: bold;

}
:host /deep/ .disclaimer-content {
  padding-right: 40px;
  padding-left: 40px;
  color: rgb(34, 34, 34);
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px; font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 2px !important;
  orphans: auto;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  widows: auto;
  word-spacing: 0px;
  -webkit-text-size-adjust: auto;
    -webkit-text-stroke-width: 0px;
}

:host /deep/ .content {
  align: JUSTIFY ;
  dir: ltr;
  color: rgb(34, 34, 34);
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: normal;
  letter-spacing: normal;
  orphans: auto;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  widows: auto;
  word-spacing: 0px;
  -webkit-text-size-adjust: auto;
  -webkit-text-stroke-width: 0px;
  margin-left: 1cm;
  margin-bottom: 0cm;
  line-height: 12px;
}

:host /deep/ .disclaimer-buttons {
  margin-top: 50px;
  align-content: center;

}
