<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    Update Signal Code 
    <!-- <div style="font-size:25px">Update {{selected_Customer.name}}({{selectedCust.code}}) for {{selectedUser.firstname}}-{{selectedUser.surname}}</div> -->
    <hr />
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col s4 m3 l6 xl6">
        <mz-select-container>
          <select mz-select [label]="'Visible'" [(ngModel)]="Visible" name="planning" id="planning">
              <!--<option value={{planning}}>{{purchase}}</option>    -->
      <option class="left circle" *ngFor="let code of signalAction" value="{{code.value}}">{{code.value | translate}}</option>
          </select>
        </mz-select-container>
      </div>
      <div class="col s4 m3 l6 xl6">
        <mz-select-container>
          <select mz-select [label]="'sendFcErp'" [(ngModel)]="sendFcErp" name="purchase" id="purchase">
              <option class="left circle" *ngFor="let code of signalAction" value="{{code.value}}">{{code.value | translate}}</option>
          </select>
        </mz-select-container>
      </div>
    </div>
    <div class="row">
      <div class="col s4 m3 l6 xl6">
          <mz-select-container>
              <select mz-select [label]="'existingOrders'" [(ngModel)]="existingOrders" name="purchase" id="purchase">
                  <option class="left circle" *ngFor="let code of signalAction" value="{{code.value}}">{{code.value | translate}}</option>
              </select>
            </mz-select-container>
      </div>
      <div class="col s4 m3 l6 xl6">
          <mz-select-container>
              <select mz-select [label]="'newOrders'" [(ngModel)]="newOrders" name="purchase" id="purchase">
                  <option class="left circle" *ngFor="let code of signalAction" value="{{code.value}}">{{code.value | translate}}</option>
              </select>
            </mz-select-container>
      </div>
    </div>

    <div class="row">
        <div class="col s4 m3 l6 xl6">
            <mz-select-container>
                <select mz-select [label]="'salesUpload'" [(ngModel)]="salesUpload" name="purchase" id="purchase">
                    <option class="left circle" *ngFor="let code of signalAction" value="{{code.value}}">{{code.value | translate}}</option>
                </select>
              </mz-select-container>
        </div>
        <div class="col s4 m3 l6 xl6">
            <mz-select-container>
                <select mz-select [label]="'inventoryUpload'" [(ngModel)]="inventoryUpload" name="purchase" id="purchase">
                    <option class="left circle" *ngFor="let code of signalAction" value="{{code.value}}">{{code.value | translate}}</option>
                </select>
              </mz-select-container>
        </div>
      </div>

  </mz-modal-content>

  <mz-modal-footer>
    <button mz-button class="green" mz-modal-close (click)="updateCodes()">Update</button>
    <button mz-button mz-modal-close style="float: left;" [flat]="true">close</button>
  </mz-modal-footer>

</mz-modal>