<footer class="page-footer light-blue darken-4" style="padding-top: 0px !important;">
  <div class="footer-copyright">
    <div class="container" style="text-align: center; font-size:12px;">
      {{footerCopyright}}
      <!--<a class="grey-text text-lighten-4 right" href="#">All Rights Reserved</a>-->
    </div>
  </div>
</footer>
