/* OLD CSS - REMOVE */
#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: rgb(25, 101, 168);
  text-align: center;

}

/* NEW CSS */
:host /deep/ .page-footer {
    padding-top: 0px !important;
}

:host /deep/ .page-footer .footer-copyright {
    min-height: 40px;
}
