<div class="card" *ngIf="itemsIsShowed == true">
  <div style=" margin-bottom: 30px; margin-top: -16px;">
    <div class="row">
      <button mz-button class="orange" (click)="showItems()" style="float:left;" float="true">
        <i mz-icon-mdi [align]="'left'" [icon]="'chevron-left'"  [size]="'28px'"></i>
      </button>
      <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' placeholder="Type To Filter" />
    </div>
    <ngx-datatable #table [rows]="itemList" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
      <ngx-datatable-column name="Item" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a style="cursor:pointer;" (click)="selectedItem(row)">{{row.itemDescription}}</a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="visible" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.signalCodeBehaviour.visible}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="sendFcErp" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.signalCodeBehaviour.sendFcErp}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="existingOrders" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.signalCodeBehaviour.existingOrders}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="newOrders" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.signalCodeBehaviour.newOrders}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="salesUpload" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.signalCodeBehaviour.salesUpload}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="inventoryUpload" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.signalCodeBehaviour.inventoryUpload}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<div *ngIf="itemsIsShowed == false">
  <app-customer-list></app-customer-list>

</div>