<div class="card">
<div style=" margin-bottom: 30px; margin-top: -16px;">
<!-- <div class="row">
  <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' (keyup)=' FilterCustomersFrom($event)' placeholder='Type To Search' />
</div> -->

<ngx-datatable #table [rows]="signalList" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
  <ngx-datatable-column name="Signal Code ID" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
          <a style="cursor:pointer;" (click)="selectedCustomer(row)">{{row.signalcodeid}}</a>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Signal Code" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.signalcode}}
      </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="visible" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.visible  |translate}}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="sendfcerp" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.sendfcerp  |translate}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="existingorders" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.existingorders |translate}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="createnewordersallowed" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.createnewordersallowed  |translate}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="salesupload" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.salesupload  |translate}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="inventoryupload" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.inventoryupload  |translate}}
    </ng-template>
</ngx-datatable-column>
</ngx-datatable>
</div>
</div>

<!-- <div *ngIf="selected_Customer">
    <app-item-list  [selected_Customer]="selected_Customer"></app-item-list>
</div> -->
